:root {
  --primary-color: #fff;
  --secondary-color: #030303;
  --hover-color: #eee;
  --brand-color: #f00;
  --max-width: 1349px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background: var(--primary-color);
  color: #030303;
  max-width: var(--max-width);
  margin: 0 auto;
}

.icon {
  display: inline-block;
  cursor: pointer;
  padding: 9px 13px;
  font-size: 20px;
}

.icon:hover {
  background: var(--hover-color);
  border-radius: 50%;
}

.row {
  display: flex;
  height: 56px;
  padding: 0 16px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
}

.container {
  width: 230px;
  padding: 13px;
  overflow: hidden;
  border-bottom: 1px solid var(--hover-color);
}

.box {
  width: 230px;
  padding: 0 0 0 13px;
  overflow: hidden;
  border-bottom: 1px solid var(--hover-color);
}

.box:last-of-type {
  border-bottom: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.current {
  background: var(--hover-color);
}

.long {
  padding: 10px 80px 10px 0;
}

.short {
  padding: 10px 50px 10px 0;
}

.down {
  padding: 10px 0;
}

ul {
  display: flex;
  flex-direction: column;
}

ul li {
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
}

ul li:hover {
  background: var(--hover-color);
}

a {
  text-decoration: none;
  color: #030303;
}

h4 {
  font-weight: 100;
  padding: 7px 10px;
}


/* NAVBAR */
#menu-nav {
  width: 1349px;
  position: sticky;
  top: 0;
  background: #fff;
  opacity: 0.98;
  z-index: 1;
}

.menu-wrap {
  display: block;
  padding-right: 60px;
  width: 40px;
  height: 40px;
  position: relative;
  align-self: center;
}
  
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.menu-wrap .hamburger:hover {
  background: var(--hover-color);
  border-radius: 50%;
  top: 0px;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 1px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -7px;
  width: 100%;
  height: 1px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 7px;
}


/* Box-1 */
.box-1 .logo .fa-youtube {
  color: var(--brand-color);
  align-self: center;
  font-size: 1.7rem;
  cursor: pointer;
}

.box-1 .logo h2 {
  align-self: center;
}

.box-1 .logo h6 {
  font-weight: 100;
  color: #646464;
  vertical-align: super;
}

/* Box-2 */
.box-2 {
  margin-left: 120px;
}

.box-2 .search-box {
  display: flex;
  border: 1px solid #ccc;
  margin-right: 5px;
  border-radius: 25px;
  box-shadow: 0px 0px 2px var(--hover-color);
}

.box-2 .search-box input {
  width: 550px;
  border: none;
  outline: none;
  border-right: 1px solid var(--hover-color);
  padding-left: 5px;
  background: transparent;
  border-right: 1px solid #ccc;
  font-size: 16px;
  padding-left: 14px;
  padding-right: 10px;
}

.box-2 .search-box .fa-search {
  background: #eee;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 9.5px 23px 9.5px 22px;
  align-self: center;
  font-size: 20px;
}

/* Box-3 */
.box-3 {
  align-items: center;
  justify-content: right;
}

.box-3 img {
  top: 0;
  left: 0;
  width: 12%;
  height: 12%;
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer;
}

.box-3 i {
  margin: 0 5px;
}

.box-3 .fa-video {
  padding: 9px 10px;
}


/* Aside - Main-nav */
aside #main-nav {
  display: block;
  width: 230px;
}

#main-nav {
  width: 230px;
  position: sticky;
  top: 56px;
  height: 1600px;
}

#main-nav .box .container {
  width: 100%;
}

#main-nav .box .container ul li {
  width: 204px;
}

#main-nav .box .container:first-child,
#main-nav .box .container:last-child {
  padding: 13px 0;
}

#main-nav .box .container:last-of-type {
  border-bottom: none;
}

#main-nav .container div > ul li i {
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  width: 16.3px;
}

#main-nav .container div > ul li a {
  font-size: 14px;
}

/* Subscriptions */
.subscription {
  display: flex;
  padding: 1px 0 1px 8px;
  align-items: center;
}

.subscription img {
  width: 12%;
  border-radius: 50%;
  margin-right: 24px;
}

/* More fom YouTube */
#main-nav .container div ul li .fa-youtube,
#main-nav .container div ul li .fa-youtube-square,
#main-nav .container:nth-child(4) div ul li .fa-music,
#main-nav .container div ul li .fa-heart-music-camera-bolt {
  color: var(--brand-color);
}


/* SHOWCASE */
#showcase {
  display: flex;
  flex-direction: row;
  width: 1349px;
}

#showcase main {
  padding: 16px 16px 16px 32px;
}

.links {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--hover-color);
  margin-right: 10px;
  font-size: 14px;
}

.current-link {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.links:hover {
  background: #ddd;
  color: var(--secondary-color);
  transition: background 0.4s;
}

main .showcase-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 26px 0;
}

.showcase-content .content {
  padding: 14px 0;
}

.showcase-content .content div:first-of-type img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1);
  opacity: 0.95;
  transition: transform 0.4s, opacity 0.4s;
}

.showcase-content .content div:first-of-type img:hover {
  opacity: 1;
  transform: scale(1.01);
  border-radius: none;
}

.showcase-content div h3 {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 3px;
  cursor: pointer;
}

.showcase-content div a {
  font-size: 13px;
  color: #646464;
}

.showcase-content .content .content-info {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 14px;
}

.showcase-content .content .content-info div img {
  width: 35px;
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
  display: block;
}

.showcase-content .content div:first-of-type {
  position: relative;
}

.showcase-content .content > div:first-of-type::after {
  content: '';
  background: #000;
  color: var(--primary-color);
  position: absolute;
  box-sizing: border-box;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  padding: 2px 4px;
  cursor: pointer;
}

.showcase-content .content:nth-child(1) > div:first-of-type::after {
  content: '1:39:35';
}
.showcase-content .content:nth-child(2) > div:first-of-type::after {
  content: '22:54';
}
.showcase-content .content:nth-child(3) > div:first-of-type::after {
  content: '47:41';
}
.showcase-content .content:nth-child(4) > div:first-of-type::after {
  content: '10:02';
}
.showcase-content .content:nth-child(5) > div:first-of-type::after {
  content: '13:41';
}
.showcase-content .content:nth-child(6) > div:first-of-type::after {
  content: '10:02:10';
}

.showcase-content:last-of-type .content:nth-child(1) > div:first-of-type::after {
  content: '12:17';
}
.showcase-content:last-of-type .content:nth-child(2) > div:first-of-type::after {
  content: '12:35';
}
.showcase-content:last-of-type .content:nth-child(3) > div:first-of-type::after {
  content: '3:33';
}
.showcase-content:last-of-type .content:nth-child(4) > div:first-of-type::after {
  content: '2:37';
}
.showcase-content:last-of-type .content:nth-child(5) > div:first-of-type::after {
  content: '10:33';
}
.showcase-content:last-of-type .content:nth-child(6) > div:first-of-type::after {
  content: '13:08';
}
.showcase-content:last-of-type .content:nth-child(7) > div:first-of-type::after {
  content: '0:56';
}
.showcase-content:last-of-type .content:nth-child(8) > div:first-of-type::after {
  content: '2:00';
}
.showcase-content:last-of-type .content:nth-child(9) > div:first-of-type::after {
  content: '14:22';
}
.showcase-content:last-of-type .content:nth-child(10) > div:first-of-type::after {
  content: '10:02';
}
.showcase-content:last-of-type .content:nth-child(11) > div:first-of-type::after {
  content: '1:09:34';
}
.showcase-content:last-of-type .content:nth-child(12) > div:first-of-type::after {
  content: '16:08';
}

/* SHORTS */
main .showcase-shorts {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  background: #fff;
  padding: 32px 0;
  border-top: 4px solid var(--hover-color);
  border-bottom: 4px solid var(--hover-color);
}

.short-videos {
  padding: 20px 0;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.short-videos img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1);
  opacity: 0.95;
  transition: transform 0.4s, opacity 0.4s;
}

.short-videos img:hover {
  transform: scale(1.01);
  opacity: 1;
}

.content-shorts a {
  color: var(--secondary-color);
}

.content-shorts i {
  padding: 0 8px;
  color: var(--brand-color);
}

.short-videos h3 {
  font-size: 17px;
  padding: 7px 0;
  cursor: pointer;
}

.short-videos a {
  font-size: 14px;
  color: #646464;
}


/* Footer */
footer {
  font-size: 14px;
}

footer .container {
  border-bottom: none;
  padding: 20px;
}